html, body {
  height: 100%;
}

heading {
  display: block;
}

body {
  background: black;
  color: #ffddcc;
  font-family: "FONT";
}

#leds {
  position:absolute;
  top:24px;
  left:calc(50% - 27px);
  width:48px;
}

#leds div {
  margin-top:8px;
  width:48px;
  height:48px;
  border:3px solid black;
  border-radius:28px;
  background: white;
  color: black;
  font-family: "FONT";
  font-stretch: condensed;
  font-weight: bold;
  font-size:24px;
  text-align:center;
  line-height:52px;
}

.flash {
  animation: flash 0.5s ease-in-out infinite alternate;
}

@keyframes flash {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


#people {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.person {
  position:relative;
  height: 33%;
  overflow: hidden;
  padding: 20px 20px;
  margin:0;
  border-top: 1px solid #ffddcc;
}

.person:first-child {
  border-top: none;
}

.person .distance {
  font-stretch: condensed;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-left: 20px solid black;
  font-size: 42px;
  padding: 10px 10px 0px 10px;
  line-height: 1;
  background: #ffddcc;
  color: black;
}

.person .accuracy {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 10px 0px 10px;
  line-height: 1;
}

.person .since {
  position: absolute;
  top: 10px;
  right: 10px;
}

.person .since:before {
  content: "Updated: ";
  font-weight: 100;
}

.person .address {
  font-size: 42px;
}

.person.athome .address {
  display:none;
}

.person heading {
  font-size: 60px;
  line-height:1;
  font-weight: bold;
}

#map_parent {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: none;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

#calendar {
  position:absolute;
  right: 0;
  width: 50%;
  border-left: 1px solid #ffddcc;
}

.events .day {
  position: relative;
  margin: 20px 20px;
  border-top: 1px solid #ffddcc;
  clear: both;
}

.events .day:first-child {
  margin-top: 0;
  border-top: none;
}

.events .day heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.events {
  font-size: 24px;
}

.events .day .noevents {
  font-style: italic;
  text-align: center;
}

.events .event {
  margin-top: 0.2em;
}

.events .event:first-child {
  margin-top: 0;
}


.events .event .description {
  margin-left: 3em;
}

.events .event.holiday .description {
}


.events .event .time {
  overflow: visible;
  float: left;
  font-weight: bold;
  clear: left;
}

.events .event .time.allday {
  visibility:hidden;
}


#clock {
  margin: 20px 20px 0;
  display: block;
  background: black;
  text-align: center;
  font-weight: 900;
  font-size: 90px;
  line-height: 1.2;
}


.weather {
  display:block;
  text-align:center;
}

.forecast .temperature:after {
  content: "°C"
}

.forecast {
  margin: 0 8px;
  display:inline-block;
  text-align:center;
}

.forecast i {
  font-size:0;
}

.forecast i:before {
  font-size:22px;
}

.forecast .temperature {
  display:block;
  font-size:16px;
}

.forecast .at {
  display:block;
  font-size:14px;
}

.hideweather .event {
  clear: none;
}

.event {
  clear: right;
}

.hideweather .weather {
  float:right;
}

.hideweather .forecast {
  display:none;
}

.hideweather .forecast .at {
  display:none;
}

.hideweather .forecast.primary {
  display:block;
}
